.nav-styles{
    display: flex;
    background-color: brown;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
}
.nav-styles h1{
    color: coral;
}
.list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.list li{
    list-style: none;
    color: chartreuse;
}